*~
obj/
bin/
.gdb.in
.qemu.out
cscope.*
ncscope.*
tags
*swp
.cproject
.project
*.bak
*.org
.codelite
*.project
*.workspace
a.out
*.log
*.exe
chytesting
disk0
*.orig
*.udb
*.udb
*.udb
*.udb
labcodes_answer/lab2_result/lab2_ans.udb
Documents/Intel® 64 and IA-32 Architectures Software Developer’s Manual.pdf
Documents/Intel® 64 and IA-32 Architectures Software Developer’s Manual.pdf
labcodes_answer/lab2_result/lab2_ans.udb
*.udb
